<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WooCommerceAddOn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ItemCodeLength" value="30" />
    <add key="ItemNameLength" value="30" />
    <add key="CustomerCodeLength" value="15" />
    <add key="CustomerNameLength" value="50" />
    <add key="AccountProfileId" value="1" />
    <add key="PageLength" value="10" />
    <add key="DriverMap" value="v20:1405;v22:1632;v23:1774" />
    <add key="DriverPrefix" value="ABSSHK" />
    <add key="Demo" value="1" />
    <add key="DefaultAccountNumber" value="1-2500" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="WADbContext" connectionString="metadata=res://*/WADbContext.csdl|res://*/WADbContext.ssdl|res://*/WADbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=WOOCOMMERCE_LOCAL;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!-- <add name="WADbContext" connectionString="metadata=res://*/WADbContext.csdl|res://*/WADbContext.ssdl|res://*/WADbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\WooCommerce_local.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <WooCommerceAddOn.Properties.Settings>
      <setting name="DeviceId" serializeAs="String">
        <value>1D64EA10-ED1D-4F12-9270-104D31EF344A</value>
      </setting>
      <setting name="DateFormat" serializeAs="String">
        <value>dd/MM/yyyy</value>
      </setting>
      <setting name="KeyString" serializeAs="String">
        <value>1719BF10BBF701D92AD22C8564607656144672AAD85AABE10A49F71763C8BF8DA1D2F5BC82875D51B3CB2D4C415CF89AC3DC8FFCBD8621F093ABB5C2B043BD31</value>
      </setting>
      <setting name="KeyName" serializeAs="String">
        <value>woocommercexabss.key</value>
      </setting>
      <setting name="KeyLocation" serializeAs="String">
        <value>C:\AbssKey</value>
      </setting>
    </WooCommerceAddOn.Properties.Settings>
  </applicationSettings>
  <system.windows.forms jitDebugging="true" />
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>